@CHARSET "UTF-8";

fieldset {
	margin: 100px 0 10px 0;
	padding: lem;
	font: 80 % 1 sans-serif;
}

legend {
	padding : 0.2em 0.5em;
	border: 1px solid green;
	color: green;
	font-size: 90%;
	text-align: right;
}